
body{
    background-color: black;
}


.main{
    width: 50%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    margin-left: 25%;
    text-align: center;
}


#heading{
    text-transform: uppercase;
    font-size: 3rem;
}

#poster-img{
    width: 100%;
    border: 5px solid white;
}